* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --animation-time: 1s;
  --border-time: 2s;
}
.hamburger-menu {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  padding-top: 20px;
}
.hamburger-menu button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}
.hamburger-menu button:hover {
  border: 1px solid black;
  background: #d0a2a2;
  transition: background border 0.5s ease-in-out;
}
.hamburger-menu button img {
  width: 20px;
  height: 20px;
}
.side-bar {
  height: 100vh;
  position: fixed;
  width: 500px;
  top: 0;
  right: 0;
  transform: translateX(500px);
  background-color: black;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  will-change: transform;
  transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}

.side-bar-active {
  transform: translateX(0);

  /* animation: createRadius 5s; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.side-bar-close {
  transform: translateX(500px);
}
@keyframes createRadius {
  to {
  }
  from {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
