.header-responsive .header-responsive-hamburger input:checked + h2 {
  color: red;
}
.header-responsive {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header-responsive-hamburger {
  position: relative;
  width: 40px;
  height: 40px;
}
.header-responsive-hamburger > input {
  position: absolute;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
}
.header-responsive-hamburger img {
  width: 100%;
  height: 100%;
}
.side-bar {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: red;
  transform: translateY(-1000px);
}

.header-responsive .header-responsive-hamburger:has(input:checked) ~ .side-bar {
  transform: translateY(0);
  transition: 2s ease-in;
}
@media screen and (max-width: 500px) {
  .header-responsive {
    display: flex;
  }
}
